a, a:visited, a:hover, a:focus { color: #09F; }
body { font-family: Charter; font-size: 1em; line-height: 1.45em; }
header > a { text-decoration: none; }
header { text-align: center; }
header > p { padding: 0 2em 0 2em; }
section { max-width: 37em; margin: 0 auto; padding: 0.5em 2em 0 2em; }
section > p { text-align: justify; }
section img { max-width: 100%; margin: 0 auto;}
footer { font-size: 0.6em; text-align: center; }
.bold { font-weight: bold; }
.lang { font-size: 0.7em; }
/* Theming. */
:root { color-scheme: light dark; }
@media (prefers-color-scheme: dark) { body { background-color: black; color: white; } }
@media (prefers-color-scheme: light) { body { background-color: white; color: black; } }
